.header{
    text-align: center;
}
.input-form{
    text-align: center;
    margin: 2% 20% ;
}
.button{
    width: 60%;
    margin: 2% 20%;
    text-align: center;
    // justify-content: center;
}
.but{
    padding: 1% 20%;
}
.link{
    text-align: center;
    padding: 1% 10%;
}
.checkbox{
    padding: 0%;
    margin: 0%;
    width: 20%;
}